<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
    	<title>Job Posted</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<meta name="google-site-verification" content="zyBM6o1y42Cw2Pbhz3EQPVGCcf2BwgxR24l0DK0na0o" />
    </head>
  	<body>
  		<p><h3>Great News!</h3></p>
		<p>A new suitable job has been posted.</p>
		<p>Click <a href='{job_link}'>here</a> to view the Job</p>
		<hr>
  		<b>From InquiryMall Support Team</b>		
  	</body>
</html>
