.social-icon ul li{
	float: left;
	list-style-type: none;
	margin-left: 20px;
}

.footer-kg-link a{
	font-size: 15px;
	font-weight: bold;
	margin-left: 5px;
	text-decoration: none;
}

.footer-area {
	background: #171717;
	padding-top: 15px;
	padding-bottom: 10px;
}

.navi-logo {
	line-height: 50px;
	height: 50px;
}

.navi-company-name {
	padding-left: 20px;
	line-height: 50px;
}

.font-size-20 {
	font-size: 20px;
}

.nav > li > a {
	padding: 5px 8px;
	font-size: 14px;
}

.nav-top {
	margin-top: 5px;
}
@media only screen and (max-width: 430px) {
	table.table-projects td:nth-child(4),
	table.table-projects th:nth-child(4) {display: none; }
	table.table-projects {font-size: 12px;}
}
}
